@import "tailwindcss";

@theme {
  /* 테마별로 변할 색상들을 미리 정의합니다. */
  --color-main-bg: var(--main-bg);
  --color-main-text: var(--main-text);
  --color-sub-text: var(--sub-text);
  --color-border: var(--border-color);
  --color-card-bg: var(--card-bg);
  --color-success: var(--success);
  --color-error: var(--error);
}

:root {
  /* 라이트 모드 변수 값 */
  --main-bg: #ffffff;
  --main-text: #18181b;
  /* zinc-900 */
  --sub-text: #71717a;
  /* zinc-500 */
  --border-color: #f4f4f5;
  /* zinc-100 */
  --card-bg: #fafafa;
  /* zinc-50 */
  --success: #10b981;
  /* green-600 */
  --error: #ef4444;
  /* red-600 */
}

.dark {
  /* 다크 모드일 때 변수 값만 교체 */
  --main-bg: #09090b;
  /* zinc-950 */
  --main-text: #f4f4f5;
  /* zinc-100 */
  --sub-text: #a1a1aa;
  /* zinc-400 */
  --border-color: #27272a;
  /* zinc-800 */
  --card-bg: #18181b;
  /* zinc-900 */
  --success: #34d399;
  /* green-400 */
  --error: #f87171;
  /* red-400 */
}

@layer base {
  body {
    background-color: var(--main-bg);
    color: var(--main-text);
    @apply transition-colors duration-300;
  }
}